@import "../All";

.cart {
  @extend %row;
  width: 70%;
  margin: auto;
  padding-top: 50px;
  justify-content: flex-start;
}

.cart__container {
  flex: 3;
}

.cart-items {
  @extend %column;
}

.cart-items__item {
  padding: 20px 0 20px;
  width: 100%;
}

.cart-item {
  @extend %row;
}

.cart-item__img {
  width: 100px;
  height: 80px;
  padding-right: 10px;
}

.cart-item__info {
  flex: 2
}

.item-info {
  @extend %column;
}

.item-info__code {
  margin: 0;
}

//.cart__item-info {
//  outline: none;
//  color: black;
//  text-decoration: none;
//  cursor: pointer;
//  transition: color .1s ease;
//}

.item-info__link:hover {
  color: #33baff;
}

.cart-item__price {
  @include flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-size: 22px;
}

.cart-item__add-remove-container {
  @extend %row;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-size: 14px;
}

.add-remove-btn {
  border: none;
}

.add-remove-btn:hover {
  background-color: #35ccff;
  cursor: pointer;
}

.add-remove-count {
  padding: 0 2px 0 2px;
}

.cart-info {
  @extend %column;
  padding: 10px;
  background-color: #f3f3f3;
  flex: 1;
}

.cart-info__header {
  font-size: 28px;
}

.cart-info__sum {
  font-weight: bold;
  font-size: 22px;
}

.modal {
  @extend %column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  @extend %column;
  margin: auto;
  min-height: 80px;
  width: 30%;
  background-color: #fefefe;
  border-radius: 5px;
  border-width: 0px;
}

.modal-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-width: 0px;
  padding: 5px;
  background-color: #33baff;
}

.modal-text {
  @include flex;
  padding: 5px;
  flex: 3;
  justify-content: center;
  font-size: 18px;
}

.modal-buttons {
  @include flex;
  justify-content: center;
  padding: 5px;
  flex: 1;
}

.modal-buttons__button {
  margin-left: 5px;
  margin-right: 5px;
  min-height: 25px;
  min-width: 50px;
  background-color: #33baff;
  border-radius: 15px;
  border-width: 0px;
  cursor: pointer;
}

.modal-buttons__button:hover {
  background-color: #35ccff;
}