<template>
    <div class="cart">
        <div class="cart-items cart__container">
            <div class="cart-item cart-items__item" v-for="item in items" v-bind:key="item.id">
                <img class="cart-item__img" :src="require(`../assets/pics/` + item.photo)">
                <div class="item-info cart-item__info">
                    <p class="item-info__code">Код товара: {{item.id}}</p>
                    <router-link class="item-info__link" :to="{ path: '/product/' + encodeURIComponent(JSON.stringify(item)) }">
                        <p>{{item.name}}</p>
                    </router-link>
                </div>
                <span class="cart-item__price">{{item.price}} &#8381;</span>
                <div class="cart-item__add-remove-container">
                    <button class="add-remove-btn" @click="itemRemove(item)">-</button>
                    <span class="add-remove-count">{{item.count}}</span>
                    <button class="add-remove-btn" @click="itemAdd(item)">+</button>
                </div>
            </div>
        </div>
        <div class="cart-info">
            <p class="cart-info__header">В корзине</p>
            <p>Товаров: {{this.count}}</p>
            <p class="cart-info__sum">{{this.sum.toString()}} &#8381;</p>
        </div>
        <div class="modal" v-if="showModal === true">
            <div class="modal-content">
                <div class="modal-header">Внимание</div>
                <div class="modal-text">
                    <span>Вы уверены, что хотите удалить товар из корзины?</span>
                </div>
                <div class="modal-buttons">
                    <button class="modal-buttons__button" @click="showModal = false">Нет</button>
                    <button class="modal-buttons__button" @click="deleteItem()">Да</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    let Utils = require('@/utils');
    export default {
        name: 'Cart',
        // props: {
        //   msg: String
        // }
        data () {
            return {
                items: [],
                sum: 0,
                count: 0,
                showModal: false,
                delItem: false
            }
        },
        methods: {
            itemAdd (item) {
                item.count += 1;
                this.count += 1;
                this.sum += parseInt(item.price);
                Utils.cartAddRemove(item, 'add');
            },
            itemRemove(item) {
                if (item.count > 1) {
                    item.count -= 1;
                    this.count -= 1;
                    this.sum -= parseInt(item.price);
                    Utils.cartAddRemove(item, 'del');
                } else {
                    this.delItem = item;
                    this.showModal = true;
                }
            },
            deleteItem () {
                let cart = JSON.parse(localStorage.getItem('cart')), newItems = [];
                for (let [key, val] of Object.entries(cart)) {
                    if (val.id === this.delItem.id) {
                        this.sum -= parseInt(val.price * val.count);
                        this.count -= val.count;
                        delete cart[key];
                    } else {
                        newItems.push(val);
                    }
                }
                localStorage.setItem('cart', JSON.stringify(cart));
                this.items = newItems;
                this.showModal = false;
                this.delItem = false;
            }
        },
        beforeMount () {
            let cart = JSON.parse(localStorage.getItem('cart'));
            if (cart) {
                for (let [key, val] of Object.entries(cart)) {
                    this.items.push(val);
                    this.count += val.count;
                    this.sum += parseInt(val.price * val.count);
                }
            }
        }
    }
</script>

<style scoped lang="scss">
    @import "Cart";
</style>