.main {
  background-color: #eaeaea;
  text-align: center;
}

.img-phone {
  height: 150px;
  width: 110px;
}

.img-standard {
  height: 150px;
  width: 200px;
}

.cart-icon:active {
  box-shadow:  0 1px 5px rgba(0, 0, 0, 0.25)
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 10%;
  background-color: #f5f5f5;
  color: black;
  text-align: center;
  font-size: 20px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  margin-left: -5%;
  padding: 10px 0 0 0;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.grid-container {
  display: grid;
  display: -ms-grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px 10px;
}

.grid-container__item {
  border-radius:10px;
  background-color: #fff;
  transition: box-shadow .3s;
}

.grid-container__item:hover {
  cursor: pointer;
  box-shadow: 0 0 11px rgba(33,33,33,.3);
}

@media (max-width: 767px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 3px 3px;
  }
}