<template>
  <div id="Main" class="main">
    <div class="grid-container">
      <div v-on:click="productInfo(item)" v-for="item in filteredItems" v-bind:key="item.id" class="grid-container__item">
        <h3>{{item.name}}</h3>
        <br>
        <img :class="[
            item.type === 'smartphone' ? 'img-phone' : 'img-standard'
    ]" :src="getImgUrl(item.photo)">
        <br>
        <div style="margin: 10px 0;">
          <span style="float: left; margin: 0 0 0 30%; font-size: 24px;">{{item.price}} &#8381;</span>
          <div @click="toCart(item)" class="cart-icon tooltip fa fa-cart-plus fa-2x blue">
            <br>
            <span class="tooltiptext">Добавить в корзину</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import json from '@/assets/json/goods.json';
  import { mapGetters } from 'vuex';
  let Utils = require('@/utils');

export default {
  name: 'Main',
  // props: {
  //   msg: String
  // }
  data() {
    return {
      items: [],
      filteredItems: []
    };
  },
  computed: {
    ...mapGetters({
      searchVal: 'getSearchVal'
    })
  },
  methods: {
    getImgUrl(filename) {
      return require('../assets/pics/' + filename);
    },
    productInfo(item) {
      this.$router.push({ path: '/product/' + encodeURIComponent(JSON.stringify(item)) });
    },
    toCart(item) {
      if (event.target.className.includes("cart-icon")) {
        event.stopPropagation();
      }
      Utils.toCart(item);
    },
  },
  watch: {
    searchVal: {
      handler: function () {
        this.filteredItems = Utils.filter(this.items, this.searchVal);
      },
    }
  },
  mounted() {
    for (let i in json) {
      this.items.push(json[i]);
    }
    // console.log(this.items);
    this.filteredItems = Utils.filter(this.items, this.searchVal);
  }
}
</script>

<style scoped lang="scss">
  @import "Main";
</style>
