@import "../All";

.product-top {
  @extend %row;
  width: 50%;
  margin: auto;
}

.product-top__col-1 {
  flex: 1
}

.product-info {
  @extend %column;
}

.img-phone {
  height: 250px;
  width: 180px;
}

.img-standard {
  height: 250px;
  width: 300px;
}

.product-info__name {
  font-size: 30px;
  font-weight: bold;
  flex: 2
}

.product-info__code {
  font-size: 16px;
  flex: 1
}

.product-info__buy {
  flex: 1
}

.product-buy {
  @include flex;
}

.product-buy__price {
  font-size: 26px;
  flex: 2;
  padding-bottom: 0;
  @include flex;
  align-items: center;
}

.product-buy__button {
  flex: 2 1;
}

.button-container {
  @extend %row;
}

.button-container__button {
  @include flex;
  align-items: center;
  flex: 0 0 120px;
  text-align: left;
  font-size: 16px;
  color: #ffffff;
  border-radius: 15px;
  border-width: 0px;
  background-color: #33baff;
}

.button-container__button:hover {
  background-color: #35ccff;
  cursor: pointer;
}

.button-container__icon {
  margin-left: 7px
}

.product-spec {
  @extend %column;
  width: 50%;
  margin: auto;
  padding-top: 50px;
}

.product-spec__header {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 20px;
}

.product-spec__item {

}
