<template>
    <div>
        <div class="product-top">
            <div class="product-top__col-1">
                <img :class="[
                    this.product.type === 'smartphone' ? 'img-phone' : 'img-standard'
                ]" :src="require(`../assets/pics/` + product.photo)">
            </div>
            <div class="product-info product-top__col-1">
                <span class="product-info__name">{{this.product.name}}</span>
                <span class="product-info__code">Код товара: {{this.product.id}}</span>
                <div class="product-buy product-info__buy">
                    <span class="product-buy__price">{{this.product.price}} &#8381;</span>
                    <div class="button-container product-buy__button">
                        <button @click="toCart()" class="button-container__button">В корзину<i class="button-container__icon fa fa-cart-plus fa-lg"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-spec">
            <span class="product-spec__header">Общие характеристики</span>
            <div class="product-spec__item" v-for="param in this.product.details" v-bind:key="param.key">
                <p><strong>{{param.key}}:</strong> {{param.value}}</p>
            </div>
        </div>
    </div>
</template>

<script>
    let Utils = require('@/utils');
    export default {
        name: 'Product',
        data() {
            return {

            };
        },
        methods: {
            toCart() {
                Utils.toCart(this.product);
            }
        },
        beforeMount () {
            this.product = JSON.parse(this.$route.params.data);
        }
    }

</script>

<style scoped lang="scss">
    @import "Product";
</style>