@import "../All";

.t-nav-bar {
  @include sticky;
  top: 0;
  text-align: center;
}

.nav-bar-container {
  @include grid;
  grid-template-columns: 10% 10% auto 10% 10%;
  column-gap: 10px;
  align-items: center;
  height: 80px;
  background-color: #f8f8f8;
}

.nav-bar-container__item {
  @include flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.nav-bar-item {
  cursor: pointer;
}

.nav-bar-item:hover {
  background-color: #d8d8d8;
}

.nav-bar-search {
  width: 100%;
}

.dropdown-menu {

}

.dropdown {
  margin-top: 80px;
  position: absolute;
  background-color: #f8f8f8;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content {
  @extend %column;
}

.dropdown-content-item {
  @extend %row;
  cursor: pointer;
  min-height: 30px;
  justify-content: center;
  align-items: center;
}

.dropdown-content-item:hover {
  background-color: #d8d8d8;
}

.dropdown-content-item__icon {
  flex: 1
}

.dropdown-content-item__text {
  flex: 2;
  text-align: left;
}

.nav-link {
  color: black;
  text-decoration: none;
}

.search {
  border-radius: 12px;
  border: none;
  outline: none;
  background: #eaeaea;
  height: 40px;
  font-size: 15px;
  width: 70%;
  padding-left: 12px;
}

.logo {
  height: 80px;
  width: 100px;
  cursor: pointer;
}

@media (max-width: 767px) {
  .nav-bar-container {
    grid-template-columns: auto;
    grid-template-rows: repeat(1, 1fr);
    height: auto;
  }
}


