<template>
    <div class="t-nav-bar">
        <div class="nav-bar-container">
            <div class="nav-bar-container__item" @click="toMain()">
                <img class="logo" src="../assets/logo2.png">
            </div>
            <div class="dropdown-menu nav-bar-item nav-bar-container__item"
                 @click="showDropdown($event)"
            >
                <i class="icon-before-text fa fa-navicon fa-lg blue"></i>
                <span>Каталог</span>
                <div class="dropdown" :style="{display: navbarDropdownDisplay}">
                    <div class="dropdown-content" v-for="cat in categories" v-bind:key="cat.id">
                        <div class="dropdown-content-item" @click="categoryFilter(cat)">
                            <i :class="[
                                'fa ' +  cat.icon + ' blue',
                                'dropdown-content-item__icon'
                            ]"></i>
                            <span class="dropdown-content-item__text">{{cat.text}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nav-bar-search nav-bar-container__item">
                <input v-model="searchVal" class="search" type="search" placeholder="Поиск товара">
            </div>
            <div class="nav-bar-item nav-bar-container__item">
                <router-link class="nav-link" to="/cart">
                    <span class="text-with-icon">Корзина</span>
                    <i class="fa fa-shopping-cart fa-lg blue"></i>
                </router-link>
            </div>
            <div class="nav-bar-item nav-bar-container__item">
                <router-link class="nav-link" to="/user">
                    <span class="text-with-icon">Войти</span>
                    <i class="fa fa-user-o fa-lg blue"></i>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex';
    let Utils = require('@/utils');
    export default {
        name: 'TNavBar',
        data() {
            return {
                searchVal: "",
                categories: [
                    {id: 1, icon: 'fa-laptop', text: 'Ноутбуки'},
                    {id: 2, icon: 'fa-mobile', text: 'Смартфоны'},
                    {id: 3, icon: 'fa-tv', text: 'Мониторы'}
                ]
            };
        },
        methods: {
            showDropdown: function (e) {
                if (this.navbarDropdownDisplay === 'none') {
                    this.$store.commit('setNavbarDropdownDisplay', 'block');
                } else {
                    this.$store.commit('setNavbarDropdownDisplay', 'none');
                }
                e.stopPropagation();
            },
            categoryFilter: function (category) {
                switch (category.id) {
                    case 1:
                        this.searchVal = 'Ноутбук';
                        this.$store.commit('setSearchVal', this.searchVal);
                        break;
                    case 2:
                        this.searchVal = 'Смартфон';
                        this.$store.commit('setSearchVal', this.searchVal);
                        break;
                    case 3:
                        this.searchVal = 'Монитор';
                        this.$store.commit('setSearchVal', this.searchVal);
                        break;
                }
            },
            toMain: function () {
                this.$router.push({ path: '/main/'})
            }
        },
        computed: {
            ...mapGetters({
                navbarDropdownDisplay: 'getNavbarDropdownDisplay'
            })
        },
        watch: {
            searchVal: {
                handler: function () {
                    console.log(this);
                    this.$store.commit('setSearchVal', this.searchVal);
                },
                deep: true
            },
            navbarDropdownDisplay: {
                handler: function () {
                    let me = this;
                    if (me.navbarDropdownDisplay === 'block') {
                        let hidePopup = function (event) {
                            if (!event.target.className.includes('dropdown-menu') && !event.target.parentElement.className.includes('dropdown-menu')) {
                                me.$store.commit('setNavbarDropdownDisplay', 'none');
                            }
                        };
                        document.body.addEventListener('click', hidePopup, {once: true});
                    }
                }
            }
        },
    }
</script>

<style scoped lang="scss">
    @import "TNavBar.scss";
</style>
