#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin flex {
  display: -webkit-flex;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
}

@mixin grid {
  display: grid;
  display: -moz-grid;
  display: -ms-grid;
}

@mixin sticky {
  position: -webkit-sticky;
  position: sticky;
}

.cart-icon {
  float: right; margin: 0 30% 0 0;
}

.cart-icon:hover {
  cursor: pointer;
  color: #359bff;
}

.text-with-icon {
  padding: 0 5px 0 0;
  font-size: 16px;
}

.icon-before-text {
  padding: 0 10px 0 0;
}

.blue {
  color: #33baff;
}

%row {
   @include flex;
   flex-direction: row;
}

%column {
  @include flex;
  flex-direction: column;
}

button {
  outline: none;
}

button:active {
  box-shadow:  0 1px 5px rgba(0, 0, 0, 0.25)
}