<template>
  <div id="app">
    <TNavBar></TNavBar>
    <router-view/>
  </div>
</template>

<script>
  import TNavBar from '@/components/TNavBar';

export default {
  name: 'App',
  searchVal: '',
  components: {
    TNavBar,
  },
}
</script>

<style lang="scss">
  @import "All.scss";
</style>

